html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @extend %Jost-400;
    font-size: 18px;
    line-height: 124%;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1610px;
    margin: 0 auto;
    padding: 0 10px;
}

.container-mini {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 10px;
}

.user-nav {
    &__list {
        display: flex;
    }
    &__item {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 0%;
            height: 2px;
            background-color: #FFFFFF;
            left: 0;
            bottom: 0;
            transition: ease-out 0.3s;
        }
        &:hover::before {
            width: 100%;
        }
    }
    &__item+.user-nav__item {
        margin-left: 25px;
    }
}

.btn-link {
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    max-width: 200px;
    width: 100%;
    height: 53px;
    padding: 10px 22px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 39px;
    transition: all 0.5s;
    @extend %Jost-700;
    font-size: 17px;
    &:hover {
        transform: translate(10px, 10px);
    }
}

.btn-img {
    margin-right: 5px;
}

.burger-menu {
    display: none;
}